i{
  margin-top: 15px;
  font-size: 35px;
}

a {
   text-decoration:none;
   color: inherit;
}
.navbar {
    background-color: rgba( 0, 0, 0, 0.7);
    position: fixed; /* Set the navbar to fixed position */
    color: white;
    left: 0;
    top: 0; /* Position the navbar at the top of the page */
    width: 5%; /* Full width */
    height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

  /* HOME ICON */
.tooltip .tooltiptextHOME {
  visibility: hidden;
  width: 120px;
  background-color: rgba( 255, 255, 255, 1);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: Tahoma;
  font-weight: bold;    
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 143%;
}

.tooltip:hover .tooltiptextHOME {
  visibility: visible;
}

  /* RULES ICON */
.tooltip .tooltiptextRULE {
  visibility: hidden;
  width: 120px;
  background-color: rgba( 255, 255, 255, 1);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: Tahoma;
  font-weight: bold;    
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 170%;
}

.tooltip:hover .tooltiptextRULE {
  visibility: visible;
}

  /* OPEN RULES ICON */
.tooltip .tooltiptextOPENRULE {
  visibility: hidden;
  width: 120px;
  background-color: rgba( 255, 255, 255, 1);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: Tahoma;
  font-weight: bold;

  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 143%;
}

.tooltip:hover .tooltiptextOPENRULE {
  visibility: visible;
}


.iselected{
  color: rgba( 162, 84, 204, 1);  
  margin-top: 15px;
/*  font-size: 40px; */ 
}

.head{
  border-radius: 50px;
  margin: auto;
  margin-top: 2%;
  margin-left: 5%;
  text-align: center;
  background-color: rgba( 0, 0, 0, 0.8);  
  font-family: Copperplate, fantasy;
  color: white;  
  font-size: 300%;  
}

.subHead{
  border-radius: 20px;
  margin: auto;
  margin-top: .2%;
  margin-left: 5%;
  margin-bottom: 10%;
  padding: 1%;
  background-color: rgba( 0, 0, 0, 0.7);  
  font-family: Tahoma;    
  color: white;   
}

.headInner{
  border-radius: 20px;
  margin: auto;
  margin-bottom: 1%;
  padding: .6%;
  text-align: left;
  background-color: rgba( 10, 10, 10, 0.8);  
  font-family: Copperplate, fantasy;
  color: white;  
  font-size: 200%;    
}

.content{
  border-radius: 20px;
  margin: auto;
  margin-top: 2%;
  margin-left: 5%;
  padding: 1%;
  text-align: justify;  
  background-color: rgba( 0, 0, 0, 0.7);  
  font-family: Tahoma;    
  color: white;   
}

.roundBorder{
  border-radius: 25px;
}

.strong{
  font-weight: bold;
}
.itally{
  font-style: italic;
}
.under{
  text-decoration: underline;
}
.smoll{
  font-size: 85%;
}
.indent{
  margin-left: 40px;
}
.iconAlign{
  margin-right: 1%;
  position: sticky;
}





.success{
  border-radius: 50px;
    margin: auto;
    margin-top: 2%;
    width: 20%; 
  text-align: center;
    background-color: rgba( 45, 215, 45, 0.6);
    color: white;  
    padding: 1%;
}

.error{
  border-radius: 50px;
    margin: auto;
    margin-top: 2%;
    width: 20%;   
  text-align: center;
    background-color: rgba( 215, 45, 45, 0.6);
    color: white; 
    padding: 1%;
}